footer h3 {
    @include templateFlex(center, none);
    font-family: "Lato", sans-serif;
    font-size: large;
    color: $fontmain;
}

footer section{
    @include templateFlex(center, none);
}

footer section a img {
    margin-right: 22px;
    margin-top: 25px;
}