
//MAIN    

.titulo {
    color: $fontmain;
    font-size: 80px;
    text-align: center;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    box-shadow: 2px 5px 5px $fontdark;
    font-weight: bolder;

    &__container-navbar ul {
        @include templateFlex(space-evenly, none);
        margin: 15px;
        padding: 15px;
    
    
        & ul li{
            list-style: none;
            padding: 1px;
        }
    
        & li a{
            color: $fontmain;
            font-size: large;
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            border-bottom: 2px solid $fontdark;
            border-top: 2px solid $fontdark;
            transition-duration: 0.5s;

        }
    
        & li a:active {
            background-color: $fontdark;
            color: $fontlight;
            transition-duration: 0.5s;
        }

    }

}
.img {
    @include templateFlex(center, none);
    padding-left: 620px;
    padding-right: 620px;


    & img {
        width: 600px;
        height: 600px; 
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

.mangas {
    padding: 30px 20px;


    & h2 {
        text-align: center;
        padding: 4px 4px;
        color: $fontmain;
        font-family: 'Lato', sans-serif  
    }


    &__box {
        @extend .grid;
        @include templateGrid(3 , 2);
        align-items: center;
        border: 1px solid $fontdark;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

        &-griditem {
            padding: 15px;
            background-color: $fontwhite;
            text-align: center;
    

            & h3 {
                background-color: $fontwhite;
                padding: 3px;
                font-family: 'Lato', sans-serif;
            }

            & h4 {
                background-color: $fontwhite;
                border: 1px solid $fontmain;
                border-radius: 30px;
                padding: 2px;
                color: $fontmain;   
                font-family: 'Lato', sans-serif;
                transition-duration: 1s;
            }

            & h4:hover {
                color: $fontdark;
                background-color: #edb753b6;
                transition-duration: 1s;
            }
        }
    }
}

@media (min-width: $pxmin) and (max-width: $pxmed) {
    /*Main*/
    .titulo {
        font-size: 40px;
    }

    .img {
        padding-left: 100px;
        padding-right: 100px;
    

        & img {
            width: 300px;
            height: 300px; 
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }

    .mangas {
        padding: 15px;
    

        & h2 {
         padding: 2px;  
        }

             &__box {
            max-width: 320px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
    

                &-griditem {
                    border-bottom: 1px solid $fontdark;
                    

                & h3 {
                    font-size: 20px;
                    }
    
                & h4 {
                    font-size: 20px;
                    }
                }
            }
    }
}

@media (min-width:$pxmed1) and (max-width:$pxlarge) {
    /*Main*/
    .titulo {
        font-size: 40px;
    }

    .img {
        padding-left: 160px;
        padding-right: 160px;
    
    
        & img {
            width: 450px;
            height: 450px; 
        }
    }
    .mangas {
        padding: 15px;
    
    
        & h2 {
            padding: 2px;  
        }
    
    
        &__box {
            max-width: 320px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        
    
            &-griditem {
                border-bottom: 1px solid $fontdark;
            }
        }
    }
}
@media (min-width:$pxlarge1) and (max-width:$pxmax) {
        /*Main*/
    
        .titulo {
             font-size: 60px;
        }
        
        .img {
            padding-left: 380px;
            padding-right: 380px;
        
            
            & img {
                width: 550px;
                height: 550px; 
            }
        }
        
        .mangas {
            padding: 15px;
        
            & h2 {
                padding: 2px;  
            }
            
            &__box {
                max-width: 769px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                background-color: $fontlight;
            
                &-griditem h3 {
                    font-size: 20px;
                
                    & h4 {
                    font-size: 20px;
                    }
                }
            }
        }
}
