*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edb753b6;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    background-color: #edb753b6;
}

ul {
    list-style: none;
}


//extend
.grid {
    max-width: 1200px;
    margin: 0 auto;
}

//mixin

@mixin templateGrid($column , $rows) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}

@mixin templateFlex($justify, $list) {
    display: flex;
    justify-content: $justify;
    list-style: $list;
}

