//Colores
$fontwhite: white;
$fontlight: rgba(255, 255, 255, 0.906);
$fontmain: brown;
$fontdark: black;

//Mediaquerys
$pxmin: 320px;
$pxmed: 500px;
$pxmed1: 501px;
$pxlarge: 768px;
$pxlarge1: 769px;
$pxmax: 1239px;
